<div class="form-group {{form.htmlClass}} schema-form-datetime" sf-layout>
    <!--<md-date-picker date="$$value$$" ng-model="$$value$$" title="form.title" sf-field-model="all"></md-date-picker>-->
    <div md-date-picker
         md-no-float="true"
         title="form.title"
         ng-model="$$value$$"
         id="{{form.key.slice(-1)[0]}}"
         name="{{form.key.slice(-1)[0]}}"
         sf-field-model
         schema-validate="form">
        <div ng-messages="ngModel.$error">
            <div class="md-char-counter">{{ form.description }}</div>
            <div sf-message ng-message></div>
        </div>
    </div>
</div>
