<md-input-container aria-label="{{ form.title }}"
                    class="{{form.htmlClass}} md-input-has-messages schema-form-jsoneditor">
    <h3 ng-show="form.title && form.notitle !== true">{{ form.title }}</h3>
    <div ng-jsoneditor class="{{form.htmlClass}}"
         style="height: 500px;"
         flex
         sf-field-model
         prefer-text="form.preferText"
         sf-changed="form"
         schema-validate="form"
         ng-model="$$value$$" options="form.jsonOptions"></div>

    <div ng-messages="ngModel.$error">
        <div class="md-char-counter">{{ form.description }}</div>
        <div sf-message ng-message></div>
    </div>
</md-input-container>
