<div class="btn-group schema-form-actions" ng-class="form.htmlClass" layout="column">
    <qiniu-uploader schema-validate="form"
                    sf-field-model
                    id="{{form.key.slice(-1)[0]}}"
                    name="{{form.key.slice(-1)[0]}}"
                    form="form"
                    flex
                    schema="schema"></qiniu-uploader>
    <md-input-container>
        <div ng-messages="ngModel.$error">
            <div sf-message ng-message></div>
        </div>
    </md-input-container>
</div>
