<md-dialog aria-label="{{formCtl.popup.description}}"
           md-theme="dark"
           flex-gt-sm="80"
           flex="100">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{formCtl.schema.description}}</h2>
            <span flex></span>
            <md-button class="md-icon-button"
                       ng-show="!formCtl.isBusy"
                       ng-click="formCtl.close()">
                <ng-md-icon icon="close"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <!--<md-dialog-content flex class="md-padding" style="min-height:250px;">-->
        <form name="editPswForm"
              layout="column"
              sf-schema="formCtl.schema"
              sf-form="formCtl.form"
              sf-model="formCtl.formData"
              equalsome="password,passwordAgain">
        </form>
    <!--</md-dialog-content>-->
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-disabled="formCtl.isBusy"
                   ng-click="formCtl.submit(editPswForm)">
            修改密码
        </md-button>
    </md-dialog-actions>
</md-dialog>

