<script type="text/ng-template" id="/setEmailFirst.html">
    <form name="setEmailFirstForm"
          layout="column"
          sf-schema="formCtl.schema"
          sf-form="formCtl.formFirst"
          sf-model="formCtl.formData"
          ng-submit="formCtl.doSendCode(setEmailFirstForm)">
    </form>
</script>
<script type="text/ng-template" id="/setEmailSecond.html">
    <form name="setEmailSecondForm"
          layout="column"
          sf-schema="formCtl.schema"
          sf-form="formCtl.formSecond"
          sf-model="formCtl.formData"
          ng-submit="formCtl.doBindPhone(setEmailSecondForm)">
    </form>
</script>

<md-dialog aria-label="{{formCtl.schema.description}}"
           md-theme="dark"
           flex-gt-sm="80"
           flex="100">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{formCtl.schema.description}}</h2>
            <span flex></span>
            <md-button class="md-icon-button"
                       ng-show="!formCtl.isBusy"
                       ng-click="formCtl.close()">
                <ng-md-icon icon="close"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content flex class="md-padding">
        <md-tabs md-selected="formCtl.selectedIndex"
                 md-dynamic-height="true"
                 md-center-tabs="true"
                 md-swipe-content
                 md-border-bottom>
            <md-tab ng-repeat="step in formCtl.steps"
                    ng-disabled="true"
                    label="{{step.title}}">
                <div ng-include="step.templateUrl"></div>
            </md-tab>
        </md-tabs>

    </md-dialog-content>
</md-dialog>