<md-content layout="row" flex>
    <md-content flex layout="column" md-theme="dark">
        <ng-include src="'js/partials/controllers/common/toolbar.html'"></ng-include>
        <canvas id="line" class="chart chart-line" chart-data="managerCtl.data"
        chart-labels="managerCtl.labels" chart-series="managerCtl.series" chart-options="managerCtl.options"
        chart-dataset-override="managerCtl.datasetOverride" chart-click="managerCtl.onClick">
        </canvas>
    </md-content>
    <ng-include class="md-whiteframe-z2 am-fade-and-slide-right" ng-show="managerCtl.searchMode" layout="column"
                flex-gt-sm="30"
                flex="100"
                src="'js/partials/controllers/common/search.html'"></ng-include>
</md-content>