<md-content layout="row" flex>
    <md-content flex layout="column" md-theme="dark">
        <ng-include src="'js/partials/controllers/common/chart_toolbar.html'"></ng-include>
        <canvas id="line" class="chart chart-line" chart-data="chartCtl.data"
        chart-labels="chartCtl.labels" chart-series="chartCtl.series" chart-options="chartCtl.options"
        chart-dataset-override="chartCtl.datasetOverride" chart-click="chartCtl.onClick">
        </canvas>
    </md-content>
    <ng-include class="md-whiteframe-z2 am-fade-and-slide-right" ng-show="chartCtl.searchMode" layout="column"
                flex-gt-sm="30"
                flex="100"
                src="'js/partials/controllers/common/chart_search.html'"></ng-include>
</md-content>