<md-data-table-toolbar ng-hide="selected.length || filter.show" aria-hidden="false">
    <ng-md-icon ng-if="chartCtl.icon" icon="{{chartCtl.icon}}"></ng-md-icon>
    <h2 class="md-title">{{ chartCtl.title }}</h2>
    <div flex=""></div>
    <div class="md-toolbar-item" layout="row">
        <md-button ng-repeat="item in $root.toolbars"
                   ng-click="item.onClick($event)"
                   ng-disabled="chartCtl.isBusy"
                   aria-label="item.title"
                   md-theme="amazing"
                   class="md-icon-button">
            <md-tooltip>
                {{item.title}}
            </md-tooltip>
            <ng-md-icon icon="{{ item.icon }}"></ng-md-icon>
        </md-button>
    </div>
</md-data-table-toolbar>