<!--表格数据-->
<md-content layout="row" flex>
    <md-content flex layout="column" md-theme="dark">
        <ng-include src="'js/partials/controllers/common/toolbar.html'"></ng-include>
        <md-divider></md-divider>
        <md-data-table-container flex>
            <table md-data-table
                   flex
                   md-progress="managerCtl.deferred">
                <thead md-order="managerCtl.queryData.order"
                       md-content="managerCtl"
                       md-trigger="managerCtl.onOrderChange">
                </thead>
                <tbody>
                    <tr md-auto-select
                        style="animation-delay:.2s;"
                        class="am-slide-bottom"
                        ng-repeat="column in managerCtl.columns">
                        <td>{{column.name}}</td>
                        <td ng-repeat="item in managerCtl.clientData.datas">
                            <span dy-compile
                              $index="$parent.$index+1"
                              query="managerCtl.queryData"
                              item="item" html="{{column.template}}"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-data-table-container>
    </md-content>
    <ng-include class="md-whiteframe-z2 am-fade-and-slide-right" ng-show="managerCtl.searchMode" layout="column"
                flex-gt-sm="30"
                flex="100"
                src="'js/partials/controllers/common/search.html'"></ng-include>
</md-content>