<!--<div class="avatar toggle">-->
<!--<img src="contents/imgs/avatar.png" alt="">-->
<!--</div>-->
<h1>手机找回密码</h1>

<script type="text/ng-template" id="/forgetMobileFirst.html">
    <form name="forgetPhoneFirstForm"
          layout="column"
          sf-schema="forgetCtl.schema"
          sf-form="forgetCtl.formFirst"
          sf-model="forgetCtl.formData"
          ng-submit="forgetCtl.doSendCode(forgetPhoneFirstForm)">
    </form>
</script>
<script type="text/ng-template" id="/forgetMobileSecond.html">
    <form name="forgetPhoneSecondForm"
          layout="column"
          sf-schema="forgetCtl.schema"
          sf-form="forgetCtl.formSecond"
          sf-model="forgetCtl.formData"
          equalsome="password,passwordAgain"
          ng-submit="forgetCtl.doEditPassword(forgetPhoneSecondForm)">
    </form>
</script>

<div layout="row" layout-align="center center">
    <div layout="column" offset-gt-md="35" offset-gt-sm="35" flex-gt-sm="30" offset-sm="5" flex-gt-md="30"
         flex-sm="90">

        <md-tabs md-selected="forgetCtl.selectedIndex" md-dynamic-height="true" md-center-tabs="true" md-swipe-content
                 md-border-bottom>
            <md-tab ng-repeat="step in forgetCtl.steps"
                    ng-disabled="true"
                    label="{{step.title}}">
                <div class="demo-tab" style="padding: 25px; text-align: center;">
                    <div ng-include="step.templateUrl"></div>
                </div>
            </md-tab>
        </md-tabs>
        <div layout="row">
            <md-button ui-sref="account.forget_email">
                使用邮箱找回密码
            </md-button>
            <span flex=""></span>
            <md-button class="md-icon-button pull-right" ui-sref="account">
                <ng-md-icon icon="home"></ng-md-icon>
            </md-button>
        </div>
    </div>
</div>