<!--<div class="avatar toggle">-->
<!--<img src="contents/imgs/avatar.png" alt="">-->
<!--</div>-->
<h1>用户注册</h1>

<div layout="row" layout-align="center center">
    <div layout="column" offset-gt-md="40" offset-gt-sm="35" flex-gt-sm="30" flex-gt-md="20"
         flex-sm="90" offset-sm="5">

        <!--注册表单-->
        <form name="regForm"
              layout="column"
              sf-schema="regCtl.schema"
              sf-form="regCtl.form"
              sf-model="regCtl.formData"
              ng-submit="regCtl.submit(regForm)"
              equalsome="password,passwordAgain">
        </form>

        <md-divider></md-divider>
        <div layout="row">
            <md-button class="md-icon-button pull-right" ui-sref="account">
                <ng-md-icon icon="arrow_back"></ng-md-icon>
            </md-button>
        </div>
    </div>
</div>